@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://github.com/donassere">All project</a>.</p>
</div>


<div>
    <h2> Les Teuteus </h2>
    <div class="card-container">
    <div class="card-container__card">
        <h3 class="card-container__card__card-title">
            Test1
        </h3>
        <p class="card-container__card__card-meta">
           this is test1
        </p>
    </div>
    </div>
    <div class="card-container">
    <div class="card-container__card">
        <h3 class="card-container__card__card-title">
            Test2
        </h3>
        <p class="card-container__card__card-meta">
            this is test2
        </p>
    </div>
    </div>
    <div class="card-container">
    <div class="card-container__card">
        <h3 class="card-container__card__card-title">
            Test3
        </h3>
        <p class="card-container__card__card-meta">
            this is test3
        </p>
    </div>
    </div>
</div>